<<<<<<< HEAD
p{
    color: blue;
    font-size: 25px;
}

h3{
    color: red;
    background-color: yellow;
}

header{
    background: salmon;




}
=======
p{
    color: blue;
    font-size: 25px;
}

h3{
    color: red;
    background-color: yellow;
}
>>>>>>> 5138f8f47bb16106e0d5363f7a0f6081fb066c91
